.get-started {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #151218;
  padding: 3rem;
  box-sizing: border-box;
}

.g-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background: linear-gradient(114deg, #9f6eed, #fc907e, #9f6eed, #fc907e);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  border-radius: 20px;
  padding: 120px 24px; /* Updated padding */
  box-sizing: border-box;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.primaryText {
  width: 60%;
  text-align: center;
  color: #fff;
  transition: opacity 0.2s;
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 35px;
}

.secondaryText1 {
  font-size: 2.5rem; /* Adjusted font size */
  font-weight: 600;
  line-height: 1.2;
  color: #fff;
  transition: opacity 0.2s;
  margin-top: 0;
  margin-bottom: 2.5rem; /* Adjusted margin */
}

.inner-container button {
  background-color: var(--black);
  border-radius: 30px;
  border: 2px solid white;
  margin: 0; /* Adjusted margin */
  padding: 12px 24px; /* Adjusted padding */
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
  color: white;
}

@media (max-width: 1024px) {
  .primaryText {
    width: 80%; /* Adjusted width for tablets */
  }
}

@media (max-width: 768px) {
  .g-container {
    padding: 80px 16px; /* Adjusted padding for tablets */
  }

  .primaryText {
    width: 90%; /* Adjusted width for tablets */
    font-size: 14px; /* Adjusted font size for tablets */
    line-height: 20px; /* Adjusted line height for tablets */
  }

  .secondaryText1 {
    font-size: 2rem; /* Adjusted font size for tablets */
    line-height: 1.1; /* Adjusted line height for tablets */
    margin-bottom: 2rem; /* Adjusted margin for tablets */
  }

  .inner-container button {
    padding: 10px 20px; /* Adjusted padding for tablets */
  }
}

@media (max-width: 480px) {
  .g-container {
    padding: 60px 12px; /* Adjusted padding for mobile */
  }

  .primaryText {
    width: 100%; /* Adjusted width for mobile */
    font-size: 14px; /* Adjusted font size for mobile */
    line-height: 20px; /* Adjusted line height for mobile */
  }

  .secondaryText1 {
    font-size: 1.5rem; /* Adjusted font size for mobile */
    line-height: 1.1; /* Adjusted line height for mobile */
    margin-bottom: 1.5rem; /* Adjusted margin for mobile */
  }

  .inner-container button {
    padding: 10px 16px; /* Adjusted padding for mobile */
    font-size: 14px; /* Adjusted font size for mobile */
  }
}
