@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

.f-wrapper {
    width: 100%;
    border-top: 1px solid rgb(211, 202, 202);
    background-color: #151218;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 5rem;
    position: relative;
}

.f-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.f-left, .f-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.f-right {
    padding-left: 20rem;
    gap: 7rem;
}

.logo img {
    width: 100px;
    height: auto;
}

.detail p {
    margin: 0.5rem 0 0;
    color: rgb(211, 202, 202);
}

.f-right {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.coloum {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.coloum h1 {
    margin-bottom: 1rem;
    color: white;
}

.coloum a {
    text-decoration: none;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    color: rgb(211, 202, 202);
}

a i {
    margin-right: 0.5rem;
    color: white;
}

.icon {
    display: flex;
}

.icon a {
    margin: 0.5rem;
    font-size: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    transition: all 0.3s ease;
    color: white;
}

.icon i {
    margin-right: 0.2rem;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.icon a:hover {
    border: 2px solid #1f3e72;
    background-color: #1f3e72;
    color: white;
}

a:hover {
    color: white;
}

.copyright {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: rgb(211, 202, 202);
    font-size: 0.9rem;
}
